* { 
	margin: 0; padding: 0; 
	background-image: url("lib/images/gradient-wallpaper-4.jpg");
}
body { 
	/*font-family: 'Open Sans', sans-serif; color: #1f2636; */
	font-family: 'Ubuntu', sans-serif; color: #1f2636; 
	font-size: 14px; 
	background: #000; 
	/*padding-bottom: 40px; */

}

header, h2, h3, h4 { 
	background: #FF7964; 
	color: #FFFFFF; 
	margin-top: -40px; 
	margin-bottom: 40px; 
	text-align: center; 
	padding: 15px 0; 
	font-size: 28px;
	}

/*h4 {
	background: #FF7964; 
	color: #FFFFFF; 
}*/


#questionHeading {
	color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    /*font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;*/
    line-height: 1.2;
}

#mainh1 { 
	font-weight: 300; 
	background: rgba(0,0,0, 0);
	color: #FFFFFF;
	/*text-align: center;*/
}

#mainh4 { 
	background: rgba(0,0,0, 0);
	color: #FFFFFF;
	/*text-align: center;*/
}

.wrapper { 
	background: rgba(0,0,0, 0.7);
	padding-bottom: 30px;
	padding-top: 30px;
	margin: 30px;
	color: #FFFFFF;
	border-radius: 15px;
	text-align: center;
}

.scroll {
	    background-color: #FF9F90;
}

.hehch1 {
	font-family: 'Ubuntu'; 
	color: #1f2636; 
}

/*article {
	margin-left: 10%;
	margin-right: 10%;
	background: #FF9F90;
}
*/
input {
	width: 50%;
	height: 20%;
}

.Q1slider {
	text-align: center;
}

.inputBox {
	margin-top: 10%;
	text-align: center;
	
}

.Q1slider, div.with-legend.rzslider, span.rz-bar-wrapper, span.rz-wrapper, .inputBox {
	background: #FF9F90;
}

h3#h3Q {
	background: #FF9F90;
}

.DescriptionBox {
	margin-top: -10px;
	padding: 10px;
	background: #FF9F90;
	text-align: center;

	/*margin-left: 10%;
	margin-right: 10%;*/
}

.button-ion-button-round {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;	
}

.button.icon-right.ion-android-create {
	background-color: #33CD5F;
	color: white;
	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	border-radius: 15px;
  	-webkit-box-shadow: 0 10px #009C2F;
  	-moz-box-shadow: 0 10px #009C2F;
  	box-shadow: 0 10px #009C2F;
	text-align: center;

}

/*article { 
	margin-bottom: 10px; 
	background-color: #FF9F90;
}*/

.tab-pane{
  padding-top: 10px;
}
.field-title {
  width: 100px;
}

.vertical-sliders {
  margin: 0;
}
.vertical-sliders > div {
  height: 250px;
}
