<ion-view>
<!-- <ion-header-bar class="q1-header">
  
    <h1>Question One</h1>
  
</ion-header-bar> -->
<ion-content data-ng-controller="MainCtrl" >
<!-- <header><h2 id="questionHeading">QUESTION 1</h2></header> -->
  <div id="header">
  <h4 id="questionHeading">Select a Gem to Begin a Question</h4>
  <h3 id="questionHeading">Once all questions are complete you may finish the survey</h3>
  </div>  
        
    
    <div id="shapeContainer" fill="none">

    
      <!-- <div ng-repeat="x in valueQuestion[0]"><span style="color:#FFFFFF">
       {{x.ValueOptions.value[4].definition}} </span> -->  

            <!-- <p>{{$index}}</p> -->
        
        <svg class="environments-image{{$index}}" width="100px" height="100px" viewBox="0 0 300 300" 
              ng-repeat="x in valueQuestion[0]" 
              ng-style="placeGemOnDiv({{$index}})"
              ng-click="loadForm({{$index}}, x.ValueOptions, x.Question)" 
        > 
        <!-- http://stackoverflow.com/questions/8515524/how-do-i-scale-an-svg-polygon-in-ems -->
            <g id="spinObj{{$index}}" width="100px" height="100px" >  
                <animateTransform attributeName="transform"
                                  attributeType="XML"
                                  type="rotate"
                                  from="0 150 150"
                                  to="360 150 150"
                                  dur="10s"
                                  repeatCount="indefinite"
                                  />
            </g>
          <!-- https://codepen.io/cwmanning/pen/Hugye -->
        <!-- <text id="Q{{$index}}gemLabel" x="13%" y="50%" font-family="Ubuntu" font-size="33" fill="white" style="display: block;">{{x.BasicLabel}}</text> -->
        </svg>

        <h5 id="Q{{$index}}gemLabel" font-family="Ubuntu" fill="white" 
        ng-repeat="x in valueQuestion[0]"
        ng-style="placeGemLabel({{$index}})"
        ng-click="loadForm({{$index}}, x.ValueOptions, x.Question)" 
        >{{x.BasicLabel}}</h5>
        <!-- <polygon id="bigPoly" points="300, 150 225, 280 75, 280 0, 150 75, 20 225, 20">
          </polygon> -->
    <!-- </svg> -->
    <span id="questionProgressCounterHeading" ng-repeat="x in [1]" ng-style="placeProgress()">Select a Gem to Begin a Question</span>   
    <svg id="bigPoly" ng-repeat="x in [1]" ng-style="hexStyle()" viewBox="0 0 300 300" > 
      <g id="bigSpinObj" >  
                <animateTransform attributeName="transform"
                                  attributeType="XML"
                                  type="rotate"
                                  from="0 150 150"
                                  to="360 150 150"
                                  dur="10s"
                                  repeatCount="indefinite"
                                  />
            </g>
      </svg>
      
    </div>

</ion-content>

<!-- <script src="../Proj/node_modules/angular-1.6.1/angular.js"></script> -->
<!-- <script src="./lib/ui-bootstrap-tpls.js"></script> -->
<!-- <script src="../dist/rzslider.js"></script> -->
<!-- <script src="demo2.js"></script> -->
</ion-view>
