@media screen and (min-width: 1130px) {
	#QshapeContainer {
		width: 15%;

	}
	#gemLabel {
		font-size: 26px;
		top: 21%;
		left: 40%;
	}
	
}

@media screen and (min-width: 901px) {
	article.DescriptionBox {
		margin-top:10px;
		margin-left: 50px;
		margin-right: 50px;
	}

	#QshapeContainer {
		width: 23%;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		max-width: 50px;
		font-size: 16px;
	}

	#gemLabel {
		font-size: 22px;
		top: 19%;
		left: 40%;

	}
}

@media screen and (max-width: 900px) {
	article.DescriptionBox {
		margin:10px;
	}

	#QshapeContainer {
		width: 40%;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		font-size: 12px;

	}

	#gemLabel {
		font-size: 24px;
		top: 19%;
		left: 40%;

	}
}


@media screen and (max-width: 600px) {
#gemLabel {
		font-size: 20px;
		top: 23%;
		left: 38%;

	}
}


@media screen and (max-width: 480px) {
	#QshapeContainer {
		width: 40%;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		max-width: 50px;
		font-size: 8px;
	}

	#gemLabel {
		font-size: 20px;
		top: 23%;
		left: 40%;

	}
}




