@media screen and (min-width: 1130px) {
	#QshapeContainer {
		width: 23%;

	}
	#gemLabel {
		font-size: 40px;
		top: 18%;
		left: 40%;
		width: 20%;
	}
	
}

@media screen and (max-width: 1129px) {
	article.DescriptionBox {
		margin-top:10px;
		margin-left: 50px;
		margin-right: 50px;
	}

	#QshapeContainer {
		width: 40%;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		max-width: 100px;
		font-size: 16px;
	}

	#gemLabel {
		font-size: 30px;
		top: 22%;
		left: 32%;
		width: 35%;

	}
}

@media screen and (max-width: 900px) {
	article.DescriptionBox {
		margin:10px;
	}

	#QshapeContainer {
		width: 40%;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		font-size: 12px;

	}

	#gemLabel {
		font-size: 24px;
		top: 24%;
		left: 32%;
		width: 35%;
	}
}

@media screen and (max-width: 750) {
	article.DescriptionBox {
		margin:10px;
	}

	#QshapeContainer {
		width: 40%;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		font-size: 12px;

	}

	#gemLabel {
		font-size: 24px;
		top: 19%;
		left: 40%;

	}
}


@media screen and (max-width: 600px) {
#gemLabel {
		font-size: 18px;
		top: 20%;
		left: 40%;

	}
}


@media screen and (max-width: 480px) {
	#QshapeContainer {
		width: 40%;
	}

	.rzslider .rz-ticks .rz-tick .rz-tick-legend {
		max-width: 30px;
		font-size: 8px;
	}

	#gemLabel {
		font-size: 20px;
		top: 23%;
		left: 40%;

	}
}




